
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>View Index da Pessoa</h1>
    <ul>
        <li> <a aspo-controller="Pessoa" asp-action="Salvar"> Rota salvar</a></li>
        <li><a asp-controller="Home" asp-action="Index"> Rota Home </a> </li>


    </ul>
</body>
</html>
